@import "./navLink";

.addBook {
  &-header {
    margin: 4rem auto;
    p {
      font-size: 5rem;
    }
  }
  &-instruction {
    p {
      font-size: 2rem;
    }
    strong {
      cursor: pointer;
      color: rgb(82, 82, 199);
      border-bottom: 2px solid rgb(82, 82, 199);
      transition-duration: 0.2s;
      &:hover {
        border-bottom: 2px solid white;
        color: rgb(7, 7, 131);
      }
    }
  }
  &-addOptionsBtn {
    text-align: center;
    button {
      border-radius: 2rem;
      padding: 0.7rem 1.4rem;
      font-size: 1.5rem;
      img {
        margin: 0 1rem 0 0.2rem;
        position: relative;
        top: -1.5px;
      }
    }
  }
  &-addBook {
    text-align: center;
    button {
      font-size: 2rem;
    }
  }
}

.card {
  border: none;
  .book-img {
    margin: auto 0;
    cursor: pointer;
    transition-duration: 0.3s;

    &-addImg {
      position: absolute;
      bottom: 1rem;
      left: 7rem;
      opacity: 0;
      transition-duration: 0.3s;
    }
    p {
      font-size: 2rem;
      color: rgb(23, 54, 88);
    }
    img {
      width: 100%;
      border-radius: 2rem;
      transition-duration: 0.5s;
    
    }
    &:hover {
        transform: scale(1.1);
        .book-img-addImg {
          opacity: 1;
          transform: scale(1.1);
        bottom: 6rem;
        position: absolute;
      }
    }
  }
}
.form-group {
  margin: 1.5rem auto; 
  width: 80%;
  label {
    font-size: 1.5rem;
    color: rgb(78, 78, 80);
  }
  input { 
    font-size: 1.4rem;
    border-radius: 1.5rem;
  }
  .form-control {
    padding: 2rem;
  }
}
.tooltip-inner {
  font-size: 1.5rem;
  background-color: rgb(24, 23, 23);
}
