.settings {
  margin-top: 6rem;

  .nav-link {
    cursor: pointer;
    font-size: 1.7rem;
    color: black;
    border-radius: 2rem;
    width: 60%;
    margin: 4rem auto;
    transition-duration: 0.3s;
    img {
      position: relative;
      margin-right: 2rem;
      width: 2.2rem;
      top: -3px;
    }
    &:hover {
      background-color: #252527;
  color: #fff;
    
    }
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #252527;
}
