<header>
  <div class="jumbotron">
    <p class="jumbotron-head">Ваша книга успешно добавлена!</p>
    <p class="jumbotron-head-sub">
      Теперь вашу книгу смогут найти на карте и взять у вас почитать.
    </p>
    <hr class="my-4" />
    <p class="jumbotron-head-profile">
      Перейдите на главную страницу, чтобы найти на карте книгу, которую хотите
      почитать.
    </p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Найти книгу</a>
  </div>
</header>
<main>
  <section class="continue">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="continue-header">
            <p>Дальнейшие действия</p>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Расскажите о вашей книге еще больше!</h5>
              <p class="card-text">
                В своей профиле вы можете редактировать добавленные книги,
                добавить к ним фотографии обложки, а так же добавить
                дополнительную информацию.
              </p>
              <a href="/profile" class="btn btn-primary">Перейти в профиль</a>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section>
</main>
