.jumbotron {
  background-color: #ffe2bc;
  text-align: center;
}
.jumbotron-head {
  font-size: 5rem;
}
.jumbotron-head-sub {
  font-size: 3rem;
}
.jumbotron-head-profile {
  margin-top: 6rem;
  font-size: 2rem;
}
.continue-header {
  text-align: center;
}
.continue-header p {
  font-size: 2.6rem;
}
