.black {
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-color: black;
  position: absolute;
}
header {
  height: 63rem;
  background-image: url(https://kudago.com/media/images/list/58/d7/58d734c95f77960b95f1e7efa6d12915.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}
.search {
  text-align: center;
}
.search-header {
  margin-top: 5rem;
}
.search-header p {
  font-size: 6.5rem;
  color: white;
}
.search-nav .nav-pills {
  margin: 0 auto;
}
.search-nav .nav-item {
  margin: 6rem 5rem 0 5rem;
  width: 28rem;
}
.search-nav .nav-link {
  font-size: 2.1rem;
  color: white;
  border: 4px solid white;
}
.search-nav-first {
  margin-top: 7rem;
}
.search-nav-first form {
  display: flex;
  justify-content: center;
}
.search-nav-first form .form-group {
  width: 60%;
}
.search-nav-first form .form-group input {
  width: 100%;
  font-size: 1.8rem;
  padding: 2.5rem;
  color: black;
}
.search-nav-first form button {
  margin-left: 1rem;
  height: 5.2rem;
  font-size: 2rem;
  padding: 0 3rem;
}
.search-add {
  background-color: #568381;
  text-align: center;
  padding: 4rem;
  position: relative;
  z-index: 1;
}
.search-add button {
  background-color: #249993;
  border: none;
  font-size: 2.7rem;
  margin: 3rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}
.search-add p {
  color: white;
  margin: 0 auto;
  width: 60%;
  font-size: 2.4rem;
}
.search-add a {
  text-decoration: none;
  color: white;
}
.search-add::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat;
  opacity: 0.2;
  background-image: url("https://www.oracle.com/asset/web/i/rw-natural07.png");
}
.map {
  background: url(https://www.oracle.com/asset/web/i/rw-graphic01-10p.png) 0 0 repeat #f5f4f2 !important;
}
.map-header {
  margin: 4rem 0;
  text-align: center;
}
.map-header p {
  font-size: 6rem;
}
.map-info {
  background-color: #f58787;
}
.addbook {
  position: relative;
  background-color: #daeb7a;
  padding: 3rem 0;
  margin-bottom: 20rem;
}
.addbook::before {
  background-image: url(https://www.oracle.com/asset/web/i/rw-natural06-15p.png) !important;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat;
  opacity: 0.5;
}
.addbook-header {
  text-align: center;
}
.addbook-header-title {
  font-size: 4.3rem;
}
.addbook-header-description {
  margin-top: 2rem;
  font-size: 2.3rem;
}
.addbook-header hr {
  margin: 4rem auto;
  width: 90%;
  border: 1px solid #413e3e;
}
.addbook .form-group {
  margin: 1.5rem 0;
  position: relative;
}
.addbook .form-group label {
  font-size: 1.5rem;
  color: #4e4e50;
}
.addbook .form-group input {
  font-size: 1.4rem;
  border-radius: 1.5rem;
}
.addbook .form-control {
  padding: 2.3rem;
  width: 60%;
}
.addbook .nav-link {
  font-size: 2.5rem;
}
.addbook .nav-pills {
  width: fit-content;
}
.addbook-instruction {
  font-size: 2.8rem;
}
.addbook-instruction-sub {
  font-size: 1.5rem;
  color: #b12121;
}
.addbook-instruction-reg {
  font-size: 2rem;
}
.addbook-bringbook {
  width: 87%;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 6rem;
  background-color: #ff9100;
  color: white;
  transition-duration: 0.5s;
  border: 4px solid white;
}
.addbook-bringbook-text {
  width: 87%;
  margin-top: 1rem;
  font-size: 1.7rem;
  text-align: center;
  color: #ff9100;
}
.addbook-bringbook:hover {
  color: #2b2a2a;
  background-color: #f7872c;
  text-decoration: none;
}
.addbook-nextBtn {
  margin-top: 3rem;
  font-size: 2.4rem;
  padding: 0.5rem 1.5rem;
}
.addbook-addOptionsBtn {
  border-radius: 2rem;
  padding: 0.7rem 1.4rem;
  font-size: 1.5rem;
}
.addbook-addOptionsBtn img {
  margin: 0 1rem 0 0.2rem;
  position: relative;
  top: -1.5px;
}
.addbook .removeSocialLink {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  cursor: pointer;
  bottom: -1.1rem;
  right: 17rem;
}
.addbook .removeDescription {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  cursor: pointer;
  bottom: -1.1rem;
  right: -5rem;
}
.addbook-register {
  background-color: white;
  padding: 2rem 0;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}
.addbook-register-head {
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
}
.addbook-register-btn button {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  width: 60%;
  border-radius: 2rem;
}
.addbook-register input {
  margin: 0 auto;
}
.addbook-register a {
  text-decoration: none;
  font-size: 1.5rem;
}
.addbook-errorInput {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  color: red;
  background-color: #f58484;
  text-align: center;
  padding: 0.7rem 0rem;
  border-radius: 1rem;
}
#bookOrAuthorList {
  z-index: 999;
  position: absolute;
  width: 58.5%;
  background-color: white;
  left: 140px;
  top: 398px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  display: none;
}
#bookOrAuthorList ul {
  padding: 0;
  margin: 0;
}
#bookOrAuthorList li {
  text-align-last: left;
  padding: 0.5rem 2.5rem;
  list-style-type: none;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
#bookOrAuthorList li:hover {
  background-color: #007bff;
}
#bookOrAuthorList li:hover span {
  color: white;
}
#bookOrAuthorList .noResults {
  color: grey;
  font-size: 1.5rem;
  margin: 1.5rem;
}
#bookOrAuthorList .resultBook {
  color: darkslategray;
  font-size: 1.8rem;
}
#bookOrAuthorList .resultAuthor {
  float: right;
  font-style: italic;
  font-size: 1.5rem;
  color: #af7f06;
}
#bookOrAuthorList .onlyAuthor {
  font-style: italic;
  font-size: 1.8rem;
  color: #af7f06;
}
#bookOrAuthorList img {
  position: relative;
  top: -3px;
  width: 25px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
